.carrousel{
    display: flex;
    height: 415px;
    flex-direction: row;
    margin-bottom: 20px;
}

.slider{
    width: 1240px;
    height:415px;
    margin: 0px auto 20px auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

img.slider_img{
  position: relative;
  height:inherit;
  width: inherit;
}

.chevron_carrousel_left{
  margin-top: 150px;
  position: absolute;
  height: 80px;
  z-index: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

.chevron_carrousel_right{
  margin-top: 150px;
  margin-left: 1150px;
  position: absolute;
  height: 80px;
  z-index: 1;
  transform: rotate(90deg);
  cursor: pointer;
}

@media (max-width: 769px) {
  /* Vos styles pour les écrans de largeur minimale de 769px ici */
  .carrousel{
    height: 289px;
}
  .slider{
    width:525px;
    height: 289px;
  }

  img.slider_img{
    top: 0px;
  }

  .chevron_carrousel_left{
    margin-top: 100px;
    height: 65px;
  }
  .chevron_carrousel_right{
    margin-top: 100px;
    margin-left: 460px;
    height: 65px;
  }
}