.tag_block{
    display: flex;
    column-gap: 10px;
}

.description_logement{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.location_logement{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.title_logement{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.tag_and_star_block{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 190px;
}

.star_rating{
    display: flex;
    justify-content: flex-end;
}

.collapse_container{
    display: flex;
    margin-left:150px;
    margin-right: 150px;
    column-gap: 60px;
}

.collapse_description{
    width: 100%;
}

.collapse_equipement{
    width: 100%;
}

ul{
    padding-inline-start: 0px;
    margin:0;
}